@media (hover: hover) {
    body{
        background-color: orange;
    }

    .btn_hide{
        display: none;
    }

    .buttons_computer{
        display: block;
    }

    .buttons_mobile{
        display: none;
    }

}

@media (hover: none){
    body{
        background-color: blanchedalmond;
    }

    .buttons_computer{
        display: none;
    }

    .buttons_mobile{
        display: block;
    }


}



body{
    margin: 0px;
    padding-top: 2rem;
    /* background-color: lightslategray; */
}

#container_main{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.form_inline{
    display: inline;
}

.list-group-item, .list-group-item:hover{
    z-index: auto; 
}

.h4_bookmark_title{
    display: inline-block;
}

.bookmark_image_large{
    width: 100%;
    min-height: 200px;
    max-height: 500px;
    object-fit: cover;
}

.bookmark_image_small{
    /* width: 100px;
    height: 100px; */
    width: 60px;
    height: 60px;
    object-fit: cover;
}