{% extends "authentication/base.html" %}

    {% block title %}
        Index
    {% endblock %}


    {% block content %}

        <div class="card">
            <div class="card-body">

                <!-- If user logged in -->
                {% if user.is_authenticated %}
                    <h2 class="card-title">Welcome {{user.first_name}} {{user.last_name}}!</h2>
                    <!-- If there is a message -->
                    {% for message in messages %}
                        <p class="card-text">{{message}}</p>
                    {% endfor %}
                    <button class="btn" type="submit"><a href="{% url 'auth_user_logout' %}">Sign Out</a></button>
                
                {% else %}
                    <h2 class="card-title">Index:</h2>
                    <!-- If there is a message -->
                    {% for message in messages %}
                        <p class="card-text">{{message}}</p>
                    {% endfor %}
                    <a class="btn btn-primary" href="{% url 'auth_user_signup' %}">Sign Up</a>
                    <a class="btn btn-secondary" href="{% url 'auth_user_login' %}">Login</a>
                {% endif %}
                
                <br>
                <a class="btn btn-secondary" href="{% url 'bookmarks_index' %}">Return Home</a>
            </div>
        </div>

    {% endblock %}
