    {% extends "base.html" %}

    {% block title %}
        Index
    {% endblock %}


    {% block content %}

        <!-- If user logged in -->
        {% if user.is_authenticated %}
            <h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
            <button type="submit"><a href="{% url 'auth_user_logout' %}">Sign Out</a></button>
        {% else %}
            <h1>Index:</h1>
            <!-- If there is a message -->
            {% for message in messages %}
                <p>{{message}}</p>
            {% endfor %}
            <button type="submit"><a href="{% url 'auth_user_signup' %}">Sign Up</a></button>
            <button type="submit"><a href="{% url 'auth_user_login' %}">Login</a></button>
        {% endif %}

        <br>
        <button><a href="{% url 'bookmarks_index' %}">Return Home</a></button>

    {% endblock %}
