<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login:</h1>

    <button type="submit"><a href="{% url 'bookmarks_index' %}">SignUp</a></button>
    <button type="submit"><a href="{% url 'bookmarks_index' %}">SignIn</a></button>
    <button type="submit"><a href="{% url 'bookmarks_index' %}">SignOut</a></button>

    <br>
    <button><a href="{% url 'bookmarks_index' %}">Return Home</a></button>


</body>
</html>