{% extends 'base.html' %}

{% block title %}Login{% endblock %}


{% block content %}
    <h1>Login</h1>

    <form action="/login/" method="post">
        <!-- If there is message -->
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}

        {% csrf_token %}

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" autocomplete="off">
        <br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>

    <button><a href="/">Return index</a></button>

{% endblock %}