<div class="card-body" style="background: linear-gradient(180deg, rgba(250,192,115,0.4990371148459384) 0%, rgba(255,150,38,0.5046393557422969) 100%);">
    <!-- Add bookmark form -->
    <form action="{% url 'bookmarks:add' %}" method="post" id="form_new_link" name="form_new_link"
        style="display: none;">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" for="url">Url: </label>
            <input class="form-control" type="url" id="url" name="url" autocomplete="off" required>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
        <hr>
    </form>

    <div class="list-group">
        <!-- Show message if no record -->
        {% if not bookmarks %}
        <p class="text-center fs-3">There are no records yet :/</p>
        {% endif %}

        <!-- List bookmarks -->
        {% for bookmark in bookmarks %}
        <div class="list-group-item list-group-item-action list-group-item-light border border-dark p-3"
            onmouseenter="show_buttons('{{bookmark.id}}')" onmouseleave="hide_buttons('{{bookmark.id}}')"
            onclick="open_link('{{bookmark.url}}'); form_readed('{{bookmark.id}}');" id="div_bookmark_{{bookmark.id}}"
            style="cursor: pointer; background-color: rgb(247, 232, 215);">

            <form action="{% url 'bookmarks:autoread' bookmark.id %}" method="post" id="form_readed_{{bookmark.id}}"
                name="form_readed_{{bookmark.id}}">
                {% csrf_token %}
            </form>

            <!-- Image for large view -->
            <img src="{{bookmark.image}}" class="bookmark_image_large rounded-top mb-1" alt="Image preview"
                style="display: none;">

            <!-- Bookmark tittle and buttons -->
            <!-- Small view -->
            <div class="div_small_heading d-flex justify-content-between w-100">
                <div class="d-flex">
                    <!-- Image for small view -->
                    <img src="{{bookmark.image}}" class="bookmark_image_small rounded-3 mb-1" alt="Image preview">

                    <h4 class="h4_bookmark_title mx-2 mb-0">{{bookmark.title}}</h4>
                </div>
                <div>
                    <small class="text-body-secondary float-end">{{bookmark.created_at}}</small>
                </div>
            </div>

            <!-- Large view -->
            <div class="div_large_heading d-flex w-100">
                <div class="col-9">
                    <h4 class="h4_bookmark_title mx-2 mb-0">{{bookmark.title}}</h4>
                </div>
                <div class="col">
                    <small class="text-body-secondary float-end">{{bookmark.created_at}}</small>
                </div>
            </div>


            <!-- Bookmark description -->
            <p class="mb-1">{{bookmark.description}}</p>

            <!-- URL -->
            <small class="fw-lighter">{{bookmark.url}}</small>

            <!-- Buttons for computers -->
            <div class="buttons_computer">
                <!-- Link tags -->
                <div class="float-start">
                    <!-- Button: archive -->
                    <form action="{% url 'bookmarks:btnarchive' bookmark.id %}" method="post" class="form_inline">
                        {% csrf_token %}
                        <button
                            class="btn_hide btn py-0 {% if bookmark.archived == True %}btn-info{% else %}btn-outline-info{% endif %}"
                            id="btn_archive_{{bookmark.id}}" type="submit"
                            onclick="handle_click(event)">Archived</button>
                    </form>

                    <!-- Button: favorite -->
                    <form action="{% url 'bookmarks:btnfavorite' bookmark.id %}" method="post" class="form_inline">
                        {% csrf_token %}
                        <button
                            class="btn_hide btn py-0 {% if bookmark.favorited == True %}btn-warning{% else %}btn-outline-warning{% endif %}"
                            id="btn_favorite_{{bookmark.id}}" type="submit"
                            onclick="handle_click(event)">Favorite</button>
                    </form>

                    <!-- Button: read -->
                    <form action="{% url 'bookmarks:btnread' bookmark.id %}" method="post" class="form_inline">
                        {% csrf_token %}
                        <button
                            class="btn_hide btn py-0 {% if bookmark.readed == True %}btn-success{% else %}btn-outline-success{% endif %}"
                            id="btn_read_{{bookmark.id}}" type="submit" onclick="handle_click(event)">Readed</button>
                    </form>
                </div>

                <!-- Link operations -->
                <div class="float-end">
                    <!-- Button: edit bookmark -->
                    <button class="btn_hide btn btn-secondary py-0" id="btn_edit_{{bookmark.id}}" type="button"
                        data-bs-toggle="modal" data-bs-target="#modal_edit_bookmark_{{bookmark.id}}"
                        onclick="handle_click(event)">Edit</button>

                    <!-- Button: delete bookmark-->
                    <button class="btn_hide btn btn-danger py-0" id="btn_delete_{{bookmark.id}}" type="button"
                        data-bs-toggle="modal" data-bs-target="#modal_delete_bookmark_{{bookmark.id}}"
                        onclick="handle_click(event)">Delete</button>
                </div>
            </div>

            <!-- Buttons mobile -->
            <div class="buttons_mobile">
                <!-- Link tags -->
                <div class="dropup float-end">
                    <button class="btn dropdown-toggle border border-dark" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false" onclick="handle_click(event)">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <!-- Button: archive -->
                            <form action="{% url 'bookmarks:btnarchive' bookmark.id %}" method="post" class="">
                                {% csrf_token %}
                                <button
                                    class="dropdown-item {% if bookmark.archived == True %}bg-info{% endif %}"
                                    type="submit"
                                    onclick="handle_click(event)">Archived</button>
                            </form>
                        </li>
                        <li>
                            <!-- Button: favorite -->
                            <form action="{% url 'bookmarks:btnfavorite' bookmark.id %}" method="post" class="form_inline">
                                {% csrf_token %}
                                <button
                                    class="dropdown-item {% if bookmark.favorited == True %}bg-warning{% endif %}"
                                    type="submit"
                                    onclick="handle_click(event)">Favorite</button>
                            </form>
                        </li>
                        <li>
                            <!-- Button: read -->
                            <form action="{% url 'bookmarks:btnread' bookmark.id %}" method="post" class="form_inline">
                                {% csrf_token %}
                                <button
                                    class="dropdown-item {% if bookmark.readed == True %}bg-success{% endif %}"
                                    type="submit" onclick="handle_click(event)">Readed</button>
                            </form>
                        </li>

                            <hr>

                        <li>
                            <!-- Button: edit bookmark -->
                            <button class="dropdown-item" type="button"
                                data-bs-toggle="modal" data-bs-target="#modal_edit_bookmark_{{bookmark.id}}"
                                onclick="handle_click(event)">Edit</button>
                        </li>
                        <li>
                            <!-- Button: delete bookmark-->
                            <button class="dropdown-item" type="button"
                                data-bs-toggle="modal" data-bs-target="#modal_delete_bookmark_{{bookmark.id}}"
                                onclick="handle_click(event)">Delete</button>
                        </li>
                    </ul>

    
                </div>
            </div>




        </div>


        <!-- Modal edit -->
        <div class="modal fade" id="modal_edit_bookmark_{{bookmark.id}}" tabindex="-1"
            aria-labelledby="modal_edit_bookmark_label_{{bookmark.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal header -->
                    <div class="modal-header" style="background: linear-gradient(180deg, rgba(250,192,115,1) 0%, rgba(255,150,38,1) 100%);">
                        <h1 class="modal-title fs-5" id="modal_edit_bookmark_label_{{bookmark.id}}">Edit Bookmark</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <form action="{% url 'bookmarks:edit' bookmark.id %}" method="post">
                            {% csrf_token %}

                            <div class="mb-3">
                                <label class="form-label" for="edit_title_{{bookmark.id}}">Title</label>
                                <input class="form-control" type="text" id="edit_title_{{bookmark.id}}"
                                    name="edit_title" placeholder="Title" value="{{bookmark.title}}" required>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="edit_description_{{bookmark.id}}">Description</label>
                                <textarea class="form-control" id="edit_description_{{bookmark.id}}"
                                    name="edit_description" placeholder="Description" cols="30" rows="10"
                                    required>{{bookmark.description}}</textarea>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="edit_url_{{bookmark.id}}">Url</label>
                                <input class="form-control" type="text" id="edit_url_{{bookmark.id}}" name="edit_url"
                                    placeholder="Url" value="{{bookmark.url}}" required>
                            </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit">Save</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <!-- Modal delete -->
        <div class="modal fade" id="modal_delete_bookmark_{{bookmark.id}}" tabindex="-1"
            aria-labelledby="modal_delete_bookmark_label_{{bookmark.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal header -->
                    <div class="modal-header" style="background: linear-gradient(180deg, rgba(250,192,115,1) 0%, rgba(255,150,38,1) 100%);">
                        <h1 class="modal-title fs-5" id="modal_delete_bookmark_label_{{bookmark.id}}">Delete the
                            bookmark?</h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        "{{bookmark.title}}"
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <form action="{% url 'bookmarks:delete' bookmark.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}



    </div>
</div>