<!-- Button: change view -->
<div class="dropdown d-inline float-end">
    <button class="btn btn-dark dropdown-toggle" id="dropdownMenuButton" type="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Change view
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li>
            <h6 class="dropdown-header">You can change the list shape as you wish.</h6>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <!-- Large view -->
            <!-- <a class="dropdown-item active" id="dropdown_item_large" type="button" onclick="change_view('large')">Large images</a> -->
            <button class="dropdown-item active" id="dropdown_item_large" type="button" onclick="change_view('large')">
                Large images
            </button>
        </li>
        <li>
            <!-- Small view -->
            <!-- <a class="dropdown-item" id="dropdown_item_small" type="button" onclick="change_view('small')">Small images</a> -->
            <button class="dropdown-item" id="dropdown_item_small" type="button" onclick="change_view('small')">
                Small images
            </button>
        </li>
    </ul>
</div>