{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bookmarks/style.css' %}">

    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">

    <title>{% block title %}{% endblock %} | Read It Later</title>
</head>

<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary border border-secondary-subtle shadow">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="navbar-brand" href="{% url 'bookmarks:index' %}">Read It Later</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Dropdown -->
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-circle-user"></i> Account
                            </button>
                            <ul class="dropdown-menu mb-3">
                                <li>
                                    <h6 class="dropdown-header">
                                        {% if user.is_authenticated %}
                                        {{user.username}}
                                        {% else %}
                                        Account
                                        {% endif %}
                                    </h6>
                                </li>
                                <li><a class="dropdown-item" href="#">Dark mode</a></li>
                                <li><a class="dropdown-item" href="#"><i class="fa-solid fa-gear"></i> Settings</a></li>
                                <li><a class="dropdown-item" href="{% url 'authentication:user_logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Log out</a></li>
                            </ul>
                        </li>
                    </div>

                    <!-- Search -->
                    <form action="{% url 'bookmarks:search' %}" method="post" class="d-flex align-items-center me-0 ms-auto" role="search">
                        {% csrf_token %}
                        {% if searched_text %}
                            <!-- <button type="button" class="btn-close me-2" aria-label="Close"></button> -->
                            <a href="{% url 'bookmarks:index' %}" type="button" class="btn-close me-2" aria-label="Close"></a>
                        {% endif %}
                        <input class="form-control me-2" type="search" name="search_text" placeholder="Search" aria-label="Search" value="{% if searched_text %} {{searched_text}} {% endif %}">
                        <button class="btn btn-outline-success" type="submit" style="min-width: 100px;"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
                    </form>

                </div>


            </div>
        </nav>

    </header>

    <body>
        <!-- Container -->
        <div class="container" id="container_main">
            {% block content %}
            {% endblock %}
        </div>


        {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="live_toast_{{bookmark.id}}" class="toast fade show" role="alert" aria-live="assertive"
                aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Read It Later</strong>
                    <small>now</small>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {% for message in messages %}
                    {{message}}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </body>


    <script src="{% static 'bookmarks/script.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>