{% extends 'bookmarks/base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-3">
            {% include 'bookmarks/partials/_side_panel.html' %}
        </div>

        <div class="col-lg-8">      
            <div class="card mb-3 shadow ms-0 me-auto">
                <div class="card-header" style="background: linear-gradient(180deg, rgba(250,192,115,1) 0%, rgba(255,150,38,1) 100%);">
                    {% include 'bookmarks/partials/_card_btn_add.html'%}

                    {% include 'bookmarks/partials/_card_btn_view.html' %}
                </div>

                {% include 'bookmarks/partials/_card_body.html' %}
            </div>
                            
        </div>
    </div>
{% endblock %}
