{% extends 'bookmarks/base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col">

        </div>

        <div class="col-6" style="min-width: 600px;">      
            {% if user.is_authenticated %}        
                <div class="card mb-3 bg-body border border-secondary-subtle shadow">
                    <div class="card-header">
                        <button class="btn btn-primary" onclick="btn_new_bookmark()">+ Add new</button>
                    </div>

                    <div class="card-body">
                        <!-- New bookmark form -->
                        <form action="{% url 'bookmarks:add' %}" method="post" id="form_new_link" name="form_new_link" style="display: none;">
                            {% csrf_token %}
        
                            <div class="mb-3">
                                <label class="form-label" for="title">Title: </label>
                                <input class="form-control" type="text" id="title" name="title" autocomplete="off" required>
                            </div>
                            
                            <div class="mb-3">
                                <label class="form-label" for="url">Url: </label>
                                <input class="form-control" type="url" id="url" name="url" autocomplete="off" required>
                            </div>
        
                            <div class="mb-3">
                                <label class="form-label" for="description">Description: </label>
                                <input class="form-control" type="text" id="description" name="description" autocomplete="off" required>
                            </div>
        
                            <button class="btn btn-primary" type="submit">Save</button>
                            <hr>
                        </form>

                        <div class="list-group">
                            <!-- List bookmarks -->
                            {% for bookmark in bookmarks %}
                                <div class="list-group-item list-group-item-action list-group-item-light border" onmouseenter="show_buttons('{{bookmark.id}}')" onmouseleave="hide_buttons('{{bookmark.id}}')">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4><a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a></h4>
                                        <small class="text-body-secondary">{{bookmark.created_at}}</small>
                                    </div>
                                    
                                    <p class="mb-1">{{bookmark.description}}</p>
                                    
                                    <!-- Button: edit bookmark -->
                                    <button class="btn_edit btn btn-secondary py-0" id="btn_edit_{{bookmark.id}}" type="button" data-bs-toggle="modal" data-bs-target="#modal_edit_bookmark_{{bookmark.id}}">Edit</button>

                                    <!-- Button: delete bookmark-->
                                    <button class="btn_delete btn btn-danger py-0" id="btn_delete_{{bookmark.id}}" type="button" data-bs-toggle="modal" data-bs-target="#modal_delete_bookmark_{{bookmark.id}}" >Delete</button> 

                                    <!-- Modal edit -->
                                    <div class="modal fade" id="modal_edit_bookmark_{{bookmark.id}}" tabindex="-1" aria-labelledby="modal_edit_bookmark_label_{{bookmark.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <!-- Modal header -->
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modal_edit_bookmark_label_{{bookmark.id}}">Edit Bookmark</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <form action="{% url 'bookmarks:edit' bookmark.id %}" method="post">
                                                        {% csrf_token %}
                                                        
                                                        <div class="mb-3">
                                                            <label class="form-label" for="edit_title_{{bookmark.id}}">Title</label>
                                                            <input class="form-control" type="text" id="edit_title_{{bookmark.id}}" name="edit_title" placeholder="Title" value="{{bookmark.title}}" required>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label" for="edit_description_{{bookmark.id}}">Description</label>
                                                            <textarea class="form-control" id="edit_description_{{bookmark.id}}" name="edit_description" placeholder="Description" cols="30" rows="10" required>{{bookmark.description}}</textarea>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label" for="edit_url_{{bookmark.id}}">Url</label>
                                                            <input class="form-control" type="text" id="edit_url_{{bookmark.id}}" name="edit_url" placeholder="Url" value="{{bookmark.url}}" required>
                                                        </div>
                                                </div>
                                                    
                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                        <button class="btn btn-primary" type="submit">Save</button>
                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal delete -->
                                    <div class="modal fade" id="modal_delete_bookmark_{{bookmark.id}}" tabindex="-1" aria-labelledby="modal_delete_bookmark_label_{{bookmark.id}}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <!-- Modal header -->
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="modal_delete_bookmark_label_{{bookmark.id}}">Delete the bookmark?</h1>
                                                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    "{{bookmark.title}}"
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                                                        <form action="{% url 'bookmarks:delete' bookmark.id %}" method="post">
                                                            {% csrf_token %}
                                                            <button class="btn btn-danger" type="submit">Delete</button>
                                                        </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>             
            {% endif %}
    
            <a class="btn btn-secondary" href="{% url 'authentication:index' %}">Authentication App -></a>



        </div>

        <div class="col">

        </div>

    </div>




    <script>
        // Show/Hide new link panel
        function btn_new_bookmark(){
            var form_new_link = document.getElementById("form_new_link");
            if (form_new_link.style.display === "none"){
                form_new_link.style.display = "block";
            } 
            else{
                form_new_link.style.display = "none";
            }
        }


        // // Open edit panel
        // function edit_bookmark(id){
        //     // Show panel                
        //     modal_edit = document.getElementById("modal_edit_" + id);
        //     modal_edit.style.display = "block";
        // }


        // Close edit panel
        function span_close(id){
            modal_edit.style.display = "none";
        }

        
        // If user click the window, close the modal
        window.onclick = function(event){
            var modals = document.getElementsByClassName("modal")
            for(var i = 0; i < modals.length; i++){
                if(event.target == modals[i]){
                    modals[i].style.display = "none";
                }
            }
        }


        // On mouse over show the buttons
        function show_buttons(id){
            // console.log("show_buttons");
            btn_edit = document.getElementById("btn_edit_" + id);
            btn_delete = document.getElementById("btn_delete_" + id);

            btn_edit.style.display = "inline-block";
            btn_delete.style.display = "inline-block";
        }


        // On mouse out hide the buttons
        function hide_buttons(id){
            // console.log("hide_buttons");
            btn_edit.style.display = 'none';
            btn_delete.style.display = 'none';
        }
    </script>
{% endblock %}
